<%- include('./partials/head.ejs') %>
<%- include('./partials/nav.ejs') %>

<div class="container side-hero">
    <section class="hero is-small">
        <div class="hero-body">
            <p class="title is-size-1">
                Dashboard
            </p>
            <p class="subtitle">
                See your posts, your favorites, and your collections!
            </p>
        </div>
    </section>
</div>


<div class="container">
    <div class="columns">
        <!-- Enable only if admin -->
        <% if(currentUser.admin) { %>
            <div class="column is-6">
                <button class="button is-fullwidth" id="seed">Seed Data</button>
            </div>
            <div class="column is-6">
                <button class="button is-fullwidth" id="delete-all">Delete All</button>
            </div>
        <% } %>
    </div>
    <div class="columns">
        <div class="column">
            <div class="tabs is-large is-fullwidth">
                <ul>
                    <li class="dashtab is-active" id="my-posts"><a>My Posts</a></li>
                    <li class="dashtab" id="my-favorites"><a>My Favorites</a></li>
                    <!-- <li class="dashtab" id="my-collections"><a>My Collections</a></li> TODO: Add later -->
                </ul>
            </div>
        </div>
    </div>
    <div class="tab-container" id="post-layout">
        <%- include('./partials/userPosts.ejs') %>
    </div>
    <div class="tab-container" id="fav-layout" style="display:none">
        <%- include('./partials/userFavs.ejs') %>
    </div>
    <!-- <div class="tab-container" id="coll-layout" style="display:none">
        <%- include('./partials/userCollections.ejs') %>
    </div> TODO: Add later -->
</div>
<%- include('./partials/footer.ejs') %>