<%- include('./partials/head.ejs') %>
<%- include('./partials/nav.ejs') %>

<div class="container side-hero">
    <section class="hero is-small">
        <div class="hero-body">
            <p class="title is-size-1">
                Dashboard
            </p>
            <p class="subtitle">
                See your posts, your favorites, and your collections!
            </p>
        </div>
    </section>
</div>


<div class="container">
    <div class="columns">
        <div class="column">
            <div class="tabs is-large is-fullwidth">
                <ul>
                    <li class="dashtab is-active" id="my-posts"><a>My Posts</a></li>
                    <li class="dashtab" id="my-favorites"><a>My Favorites</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="tab-container" id="post-layout">
        <%- include('./partials/userPosts.ejs') %>
    </div>
    <div class="tab-container" id="fav-layout" style="display:none">
        <%- include('./partials/userFavs.ejs') %>
    </div>
<<<<<<< HEAD
=======
    <!-- <div class="tab-container" id="coll-layout" style="display:none">
        <%- include('./partials/userCollections.ejs') %>
    </div> -->
>>>>>>> parent of 8db2867... Login/signup UX, pre-main
</div>
<%- include('./partials/footer.ejs') %>