<%- include('../partials/head.ejs') %>
<%- include('../partials/nav.ejs') %>

<div class="container side-hero">
    <section class="hero is-small">
        <div class="hero-body">
            <p class="title is-size-1">
                Browse
            </p>
            <p class="subtitle">
                Check out our homebrews! Click a card's icon to favorite it.
            </p>
        </div>
    </section>
</div>


<div class="container">

    <% if(posts.length === 0) { %>
        <div class="columns">
            <div class="column">
                <div class="box">Nothing's here... try creating a homebrew!</div>
            </div>
        </div>
    <% } %>


    <% posts.forEach((post, idx) => { %>
        <% if(!(idx % 3)) { %>
            <div class="columns"> 
        <% } %>
        <div class="column is-4">
            <a href="/posts/<%=post._id%>">
                <div class="card">
                    <div class="card-content pb-0">
                        <div class="title">
                            <%=post.name%>
                        </div>
                        <div class="subtitle">
                            <%=post.author.username%>
                        </div>
                    </div>
                    <div class="card-item">
                        <% if(currentUser) { %>
                            <% if(currentUser.favoriteIds.indexOf(post._id.toString()) !== -1) { %>
                                <a class="icon fav" href="/posts/<%=post._id%>/unfavorite">
                            <% } else { %>
                                <a class="icon" href="/posts/<%=post._id%>/favorite">
                            <% }%>
                        <% } %>
                        <% switch (post.contentType) {
                            case 'general': %>
                                <i class="fa-solid fa-dice-d6"></i>
                                <% break
                            case 'item': %>
                            <% if(post.content.itemType === 'offensive') { %>
                                <i class="fa-solid fa-khanda"></i>
                            <% } else if(post.content.itemType === 'defensive') { %>
                                <i class="fa-solid fa-shield-blank"></i>
                            <% } else { %>
                                <i class="fa-solid fa-ring"></i>
                            <% } %>
                            <% break
                        } %>
                        <% if(currentUser) { %> </a> <% } %>
                    </div>
                    <footer class="card-footer mt-0">
                        <div class="card-footer-item">
                            <% if (post.contentType == 'item') { %>
                                <%=`${post.contentType}, ${post.content.itemType}`%>
                            <% } else { %>
                                <%=post.contentType%>
                            <% } %>
                        </div>
                    </footer>
                </div>
            </a>
            </div>
        <% if(((idx % 3) === 2) || idx === posts.length-1) { %>
            </div> 
        <% } %>
    <% }) %>
</div>

<%- include('../partials/footer.ejs') %>
