<%- include('../partials/head.ejs') %>
<%- include('../partials/nav.ejs') %>

<div class="container">
    <div class="box">
        <div class="level">
            <div class="level-item has-text-centered">
                <div>
                    <div class="heading">Title</div>
                    <div class="title"><%=post.name%></div>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <div class="heading">Author</div>
                    <div class="title"><%=post.author.username%></div>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <div class="heading">Favorites</div>
                    <div class="title"><%=post.favorites%></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Generic homebrew type only -->
    <div class="box">
        <div class="columns">
            <div class="column is-12">
                <h1 class="title mb-4">
                    Description:
                </h1>
                <%=post.content.features%>
            </div>
        </div>
    </div>

    <% if(sameUser) { %>
    <div class="box">
        <div class="columns">
            <div class="column is-6">
                <button class="button is-fullwidth" id="delete" data-id="<%=post._id%>">Delete Post</button>
            </div>
            <div class="column is-6">
                <a class="button is-fullwidth" href="/posts/<%=post._id%>/edit">Edit Post</a>
            </div>
        </div>
    </div>
    <% } %>
</div>



<%- include('../partials/footer.ejs') %>
